{% extends "modelo.html" %}
{% block conteudo %}
<div class="px-40 flex flex-1 justify-center py-5">
    <div class="layout-content-container flex flex-col max-w-[1260px] flex-1">
    <div class="@container">
        <div class="@[480px]:p-4">
        <div
            class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl items-center justify-center p-4">
            <div class="flex flex-col gap-5 text-center">
            <h1 class="text-black text-4xl font-black leading-normal tracking-[-0.033em] @[480px]:text-7xl @[480px]:font-black @[480px]:leading-normal @[480px]:tracking-[-0.033em]">
                Aprenda Python de forma <br>
                interativa e eficaz!
            </h1>
            <h2 class="text-black text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                Domine a linguagem de programação mais popular do mundo <br>
                com nossos cursos práticos e conteúdo de alta qualidade.
            </h2>
            </div>
            <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#243a69] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]">
            <span class="truncate">Começar agora</span>
            </button>
        </div>
        </div>
    </div>
    
    <!-- Descrição dos conteúdos python -->
    <h2 class="text-[#121416] text-[40px] font-bold leading-tight tracking-[-0.015em] px-4 pb-5 pt-5 text-center">Conteúdo Python</h2>
    <div class="flex flex-col p-4 gap-3">
        <details class="flex flex-col rounded-lg bg-[#f0f2f5] px-4 py-2 group">
        <summary class="flex cursor-pointer items-center justify-between gap-6 py-2">
            <p class="text-[#111418] text-sm font-medium leading-normal">Estruturas de seleção</p>
            <div class="text-[#111418] group-open:rotate-180" data-icon="CaretDown" data-size="20px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
            </svg>
            </div>
        </summary>
        <p class="text-[#60748a] text-sm font-normal leading-normal pb-2">
            Aprenda a controlar o fluxo do seu programa com estruturas condicionais como if, else e elif. Exemplos práticos e exercícios para você dominar a tomada de
            decisões em Python.
        </p>
        <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#191013] text-white text-sm font-medium leading-normal w-fit mr-auto">
            <span class="truncate">Ver mais</span>
        </button>
        </details>
        <details class="flex flex-col rounded-lg bg-[#f0f2f5] px-4 py-2 group">
        <summary class="flex cursor-pointer items-center justify-between gap-6 py-2">
            <p class="text-[#111418] text-sm font-medium leading-normal">Estruturas de repetição</p>
            <div class="text-[#111418] group-open:rotate-180" data-icon="CaretDown" data-size="20px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
            </svg>
            </div>
        </summary>
        <p class="text-[#60748a] text-sm font-normal leading-normal pb-2">
            Aprenda a controlar o fluxo do seu programa com estruturas condicionais como if, else e elif. Exemplos práticos e exercícios para você dominar a tomada de
            decisões em Python.
        </p>
        <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#191013] text-white text-sm font-medium leading-normal w-fit mr-auto">
            <span class="truncate">Ver mais</span>
        </button>
        </details>
        <details class="flex flex-col rounded-lg bg-[#f0f2f5] px-4 py-2 group">
        <summary class="flex cursor-pointer items-center justify-between gap-6 py-2">
            <p class="text-[#111418] text-sm font-medium leading-normal">Vetores e matrizes</p>
            <div class="text-[#111418] group-open:rotate-180" data-icon="CaretDown" data-size="20px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
            </svg>
            </div>
        </summary>
        <p class="text-[#60748a] text-sm font-normal leading-normal pb-2">
            Aprenda a controlar o fluxo do seu programa com estruturas condicionais como if, else e elif. Exemplos práticos e exercícios para você dominar a tomada de
            decisões em Python.
        </p>
        <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#191013] text-white text-sm font-medium leading-normal w-fit mr-auto">
            <span class="truncate">Ver mais</span>
        </button>
        </details>
        <details class="flex flex-col rounded-lg bg-[#f0f2f5] px-4 py-2 group">
        <summary class="flex cursor-pointer items-center justify-between gap-6 py-2">
            <p class="text-[#111418] text-sm font-medium leading-normal">Funções e procedimentos</p>
            <div class="text-[#111418] group-open:rotate-180" data-icon="CaretDown" data-size="20px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
            </svg>
            </div>
        </summary>
        <p class="text-[#60748a] text-sm font-normal leading-normal pb-2">
            Aprenda a controlar o fluxo do seu programa com estruturas condicionais como if, else e elif. Exemplos práticos e exercícios para você dominar a tomada de
            decisões em Python.
        </p>
        <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#191013] text-white text-sm font-medium leading-normal w-fit mr-auto">
            <span class="truncate">Ver mais</span>
        </button>
        </details>
        <details class="flex flex-col rounded-lg bg-[#f0f2f5] px-4 py-2 group">
        <summary class="flex cursor-pointer items-center justify-between gap-6 py-2">
            <p class="text-[#111418] text-sm font-medium leading-normal">Tratamentos de exceção</p>
            <div class="text-[#111418] group-open:rotate-180" data-icon="CaretDown" data-size="20px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
            </svg>
            </div>
        </summary>
        <p class="text-[#60748a] text-sm font-normal leading-normal pb-2">
            Aprenda a controlar o fluxo do seu programa com estruturas condicionais como if, else e elif. Exemplos práticos e exercícios para você dominar a tomada de
            decisões em Python.
        </p>
        <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#191013] text-white text-sm font-medium leading-normal w-fit mr-auto">
            <span class="truncate">Ver mais</span>
        </button>
        </details>
    </div>
    </div>
</div>
{% endblock %}