{% extends "modelo.html" %}
{% block conteudo %}

<div class="card" style="width: 18rem;">
    <img src="{{ url_for('static', filename='assets/DSC00351.JPG') }}" class="card-img-top" alt="Foto de Victor">
    <div class="card-body">
      <h5 class="card-title">Victor Alexandre Medeiros Araújo Aires</h5>
      <p class="card-text">Estudante de Sistemas para Internet na UNIESP.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">33 anos</li>
      <li class="list-group-item">Casado</li>
      <li class="list-group-item">Cristão</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">GitHub</a>
      <a href="#" class="card-link">LinkedIn</a>
    </div>
  </div>

{% endblock %}